<div class="col-2">
    <div class="work-experience">
        <h2>Work Experience</h2>
        <div class="display" id="scrollContainer">

            <div class="content">
                <div class="item">
                    <div class="logo">
                        <img src="./images/React.png" style="height: 60px;" alt="" srcset="">
                    </div>
                    <div class="info">
                        <h3>Frontend Using React</h3>
                        <p>10+ Fronted Website Using React.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="logo">
                        <img src="./images/FullStack.png" style="height: 55px;" alt="" srcset="">
                    </div>
                    <div class="info">
                        <h3>Fullstack Project Using MERN</h3>
                        <p>8+ Project Fronted + Backend.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="logo">
                        <img src="./images/ChatGpt.png" alt="" srcset="">
                    </div>
                    <div class="info">
                        <h3>Project With Ai</h3>
                        <p>20+ Project Complete Using AI.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="logo">
                        <img src="./images/Ecommerce.png" alt="" srcset="">
                    </div>
                    <div class="info">
                        <h3>Ecommerce Project</h3>
                        <p>5+ Project Ecommerce Website.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="logo">
                        <img src="./images/Wordpress.png" alt="" srcset="">
                    </div>
                    <div class="info">
                        <h3>Wordpress Project</h3>
                        <p>3+ Wordpress Website.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="logo">
                        <img src="./images/Shopify.png" alt="" srcset="">
                    </div>
                    <div class="info">
                        <h3>Shopify Store</h3>
                        <p>2+ Shopify Stores.</p>
                    </div>
                </div>
            </div>
        
        </div>                        
    </div>
    
    <div class="my-expert">
        <h2>My Expert Area</h2>
        <div class="skills">
            <div class="skill" style="background-color: transparent;">
                <img src="./images/NodeJs.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/Figma.png" alt="" srcset="">
            </div>
            <div class="skill" style="background-color: transparent;">
                <img src="./images/MongoDB.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/React.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/mysql.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/NextJs.png" style="background-color: white;"alt="" srcset="">
            </div>
            <div class="skill" style="background-color: transparent;">
                <img src="./images/NodeJs.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/Figma.png" alt="" srcset="">
            </div>
            <div class="skill" style="background-color: transparent;">
                <img src="./images/MongoDB.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/React.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/mysql.png" alt="" srcset="">
            </div>
            <div class="skill">
                <img src="./images/NextJs.png" style="background-color: white;"alt="" srcset="">
            </div>
        </div>
    </div>
</div>