<div class="col-1">
    <div class="profile-pic">
    </div>
    <div class="info">
        <h2>Rahul Gurav   👋</h2>
        <p>
            A Passionate Full Stack Developer 🖥️& Having 2 years of Experiences With 1 Real-World Project.
            Now Work In Infosys
        </p>
        <div class="btn">
            <button class="call-btn">
                <i class='bx bx-phone-call'></i>
                Book A Call
            </button>
            <button class="email-btn">
                <i class='bx bx-copy' ></i>
                Copy Email
            </button>
            <span id="email-to-copy" style="display: none;">guravrahul988@gmail.com</span>
        </div>
        <div class="social-link">
            <a href="https://www.linkedin.com/in/rahul-gurav-3b8a04331/" target="_blank" rel="noopener noreferrer"><i class='bx bxl-linkedin'></i></a>
            <a href="https://github.com/RahulGurav82" target="_blank" rel="noopener noreferrer"><i class='bx bxl-github' style="color: black;" ></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class='bx bxl-instagram' style="
            color: rgb(237,133,6);
            color: linear-gradient(18deg, rgba(237,133,6,1) 6%, rgba(255,0,92,1) 46%, rgba(237,11,252,1) 85%);" ></i></a>
            <a href="http://" target="_blank" rel="noopener noreferrer"><i class='bx bxl-facebook' ></i></a>
        </div>
    </div>
</div>