<div class="col-3">
    <div class="col-3-top">
        <h2>Recent Projects</h2>
        <p>All Projects <i class='bx bx-right-arrow-alt'></i></p>
    </div>
    <div class="projects top-image">
        
    </div>
    <div class="projects bottom-image">

    </div>
</div>