        <!-- nav section design start here... -->
        <nav>
            <div class="logo">
                <i class='bx bxl-xing'></i>
                <h2>Rahul</h2>
            </div>

            <div class="menus">
                <ul>
                    <li>
                        <a href="/" class="active">
                            <i class='bx bx-home' ></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class='bx bx-user-circle'></i>
                            About
                        </a
                        ></li>
                    <!-- <li><a href="#"><i class='bx bx-layer'></i>Services</a></li> -->
                    <li><a href="/work"><i class='bx bxl-pocket'></i>Works</a></li>
                    <!-- <li><a href="#"><i class='bx bxl-blogger' ></i>Blogs</a></li> -->
                    <li><a href="/contact"><i class='bx bx-message-square-dots' ></i>Contact</a></li>
                </ul>
            </div>

            <button class="hamburger" onclick="toggleSidebar()">
                <i class='bx bx-menu'></i>
            </button>
            <div class="rg-tp-btn">
                <div>
                    <div>
                        <input type="checkbox" class="theme-toggle" id="theme-toggle">
                        <label for="theme-toggle" class="theme-label">
                          <i class="fas fa-moon"></i>
                          <i class="fas fa-sun"></i>
                          <span class="slider"></span>
                        </label>
                      </div>
                </div>
                <button class="cta-btn">Let's Talk <i class='bx bx-right-arrow-alt'></i></button>
            </div>
        </nav>
        <!-- nav section End here -->