<% layout('layouts/boilerplate', { rightClass: 'work-right' }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/work.css">
<div class="work">
    <h1>Check Out My Latest <span>Projects</span></h1>
    <p>I'm here to help if you're searching for a product designer to bring your idea to life or a design partner to help take your business to the next level.</p>
    <div class="projects">
        <div class="projects-img">
            <img src="/images/chatapp.png" alt="">
        </div>
    </div>
    <div class="project-info">
        <div class="info">
            <h1>Chat App</h1>
            <p>SaaS App | UI UX Design</p>
        </div>
        <div class="project-link">
            <button>Visit Site <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="projects">
        <div class="projects-img">
            <img src="/images/wheatherapp.png" alt="">
        </div>
    </div>
    <div class="project-info">
        <div class="info">
            <h1>Chat App</h1>
            <p>SaaS App | UI UX Design</p>
        </div>
        <div class="project-link">
            <button>Visit Site <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="projects">
        <div class="projects-img">
            <img src="/images/chatapp.png" alt="">
        </div>
    </div>
    <div class="project-info">
        <div class="info">
            <h1>Chat App</h1>
            <p>SaaS App | UI UX Design</p>
        </div>
        <div class="project-link">
            <button>Visit Site <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <div class="projects">
        <div class="projects-img">
            <img src="/images/wheatherapp.png" alt="">
        </div>
    </div>
    <div class="project-info">
        <div class="info">
            <h1>Chat App</h1>
            <p>SaaS App | UI UX Design</p>
        </div>
        <div class="project-link">
            <button>Visit Site <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</div>